<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<div class="profile-userpic">
					<img src="{{item.photo}}" class="img-responsive" alt="">
				</div>
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{item.name}}
					</div>
					<div class="profile-usertitle-job">
						{{item.area}}
					</div>
					<div class="profile-usertitle-job">
						{{item.speciality}}
					</div>
					<div class="profile-usertitle-job">
						{{item.currency}} {{item.rate}}
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9">
            <div class="profile-content center">
			   <h5>{{item.recommendation}}</h5>
			   Recommendation <br/>
			   Schedule On <br/>
			   {{item.schedule}} <br/><br/>
			   
			   {{item.experience}} Year(s) Experience <br/>
			   {{item.description}} <br/>
			   
			   Location On Map:<br/>
			   <agm-map [latitude]='{{item.latitude}}' [longitude]='{{item.longitude}}' [mapTypeId]='satellite'></agm-map>
			   <style type="text/css">
			   agm-map {
				height: 300px;
			   }
			   </style>
            </div>
		</div>
	</div>
</div>