<div class="form-group">
  <label for="location">Select location</label>
  <select class="form-control" id="location">
  </select>
</div>

<button type="button" class="btn btn-primary" routerLink="/search" routerLinkActive="active">Find Doctor</button>