<div *ngFor="let item of data  | slice: (curPage * pageSize) - pageSize :curPage * pageSize" class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{item.photo}}" alt="photo">
  <div class="card-body">
    <h5 class="card-title">{{item.name}}</h5>
    <p class="card-text">{{item.area}}</p>
    <p class="card-text">{{item.speciality}}</p>
    <p class="card-text">{{item.currency}} {{item.rate}}</p>
    <a routerLink="/profile/{{item.id}}" routerLinkActive="active" class="btn btn-primary">Detail</a>
  </div>
</div>
<p class="pagination">
     <button [disabled]="curPage == 1" (click)="curPage = curPage - 1">PREV</button>
     <span>Page {{curPage}} of {{ numberOfPages() }}</span>
     <button [disabled]="curPage >= this.data.length/pageSize" (click)="curPage = curPage + 1">NEXT</button>
 </p>