<h3>Test1</h3>
<label>
  Input:
  <input type="text" [formControl]="input1">
</label>

<p>
  <button (click)="show1()">Tampilkan</button>
</p>

<label>
  Hasil: <input type="text" [formControl]="hasil1" readonly>
</label>

<hr/>
<h3>Test2</h3>
<label>
  Input:
  <input type="text" [formControl]="input2">
</label>

<p>
  <button (click)="show2()">Tampilkan</button>
</p>

<label>
  Hasil: <input type="text" [formControl]="hasil2" readonly>
</label>